# macOS system files
.DS_Store
.Trash
.Trashes

# node modules
node_modules/

# Logs
*.log

# temp folders
tmp/
temp/
.cache/

# IDE/editor files
.vscode/
.idea/

# Environment files
.env

# Others
*.swp
*.swo
*.bak
*.backup
*.log

# Ignore everything else outside your project folder
# You can't literally exclude ../../ files here; just don't run git outside your project root.
